.deck1 {
	background: url('../img/10865731_10153510478496632_7411151336509906315_o.jpg') no-repeat;
	background-size: cover;
	background-position: 0px -50px;
	height: 20vh;
}

section {
	min-height: 100px;
}

.deck2 {
	padding: 0;
}

.thumb {
    margin-bottom: 30px;
}