body { 
	margin: 0; 
	padding: 0; 
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5; 
	overflow-x: hidden;
}

.nav-pills>li>a, 
.btn, 
.btn-group-lg>.btn,
.btn-lg {
    border-radius: 0px;
    text-transform: uppercase;   
}

a {
	color: #dd3333;
}

a:hover {
	color: #B90000;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #B90000;
}

.btn {
	background: #dd3333 !important;
    border-color: #B90000 !important;
	font-size: 70%;
}

.deck1 {
	background: url('../img/1979992_10153425964956632_5465850495818307801_o.jpg') no-repeat;
	background-size: cover;
	background-position: 0px -50px;
	height: 95vh;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.deck2 {
	padding-top: 80px;
	background-color: #f8f8f9;
}

.deck3 {
	padding-top: 90px;
/*	background: url('../img/SuperPowerBeatDown.png') no-repeat center 385px;
	background-size: 60%;*/
	background-color: #fff;
	min-height: 300px;
	height: 450px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 30px;
}

p {
	font-weight: 200;
    font-size: 18px;
}

section {
	height: 75vh;
	min-height: 550px;
}

footer {
	height:250px; 
	background: #2a2c34; 
	color: #fff; 
	padding: 60px 0;
}

nav {
	padding-top: 20px;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	.deck3 {
		background-image: none;
		height: 75vh;
		min-height: 550px;
	}
}